@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');

html, body {
  height: 100%;
  font-family: 'Press Start 2P';
  background-color: rgb(76, 42, 55);
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

h1, p, input, select, button {
  margin: 0;
  font-family: 'Press Start 2P';
}
